body{
  margin:0;
  padding: 0;
}
.header{
  overflow: hidden;
  position: fixed;
  top: 0;
  height: 100px;
  width: 100%;
}
.navbar{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: red;
}
.showcase{
  padding-top: 80px;
}
.first{
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 2rem;
}

.first .photo {
  width: 10%;
}

.first img {
  width: 100px;
  height: 100px;
}